*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea
.DS_Store
/build
/build/generated
/build/intermediates
/build/outputs
/build/
/captures
.externalNativeBuild
/install.md
/z_rawfile/assemble_back/pre_release
/z_rawfile/assemble_back/debug
/z_rawfile/assemble_back/quarytest
/z_rawfile/assemble_back/highcopytest

